Repository etalab/guides.etalab.gouv.fr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abulte, @AntoineAugusti, @schignard, @soizicpenicaud, @mathildehg, @etalab/core, @bzg, @etalab/schema-data-gouv-fr, @psorianom, @KimMontalibet, @jdenes, @pedevineau

Petite coquille
  juridique/1-obligation_od.md
Owners: @mathildehg, @AntoineAugusti

Update 2-api-decoupage-administratif.md
  apis-geo/2-api-decoupage-administratif.md
Owners: none

Update 0-guide.md
  algorithmes/0-guide.md
Owners: @schignard, @soizicpenicaud

Update README.md
  algorithmes/README.md
Owners: @schignard, @soizicpenicaud

Update 0-guide.md
  algorithmes/0-guide.md
Owners: @schignard, @soizicpenicaud

Update 1-mention.md
  algorithmes/1-mention.md
Owners: @schignard, @soizicpenicaud

Update 0-guide.md (#216)
  algorithmes/0-guide.md
Owners: @schignard, @soizicpenicaud

Update 1-mention.md
  algorithmes/1-mention.md
Owners: @schignard, @soizicpenicaud

Update 2-inventaire.md
  algorithmes/2-inventaire.md
Owners: @schignard, @soizicpenicaud

Update README.md (#217)
  algorithmes/0-guide.md
  algorithmes/1-mention.md
  algorithmes/2-inventaire.md
  algorithmes/README.md
Owners: @schignard, @soizicpenicaud

Update 0-guide.md
  algorithmes/0-guide.md
Owners: @schignard, @soizicpenicaud

Update 0-guide.md
  algorithmes/0-guide.md
Owners: @schignard, @soizicpenicaud

Update 0-guide.md
  algorithmes/0-guide.md
Owners: @schignard, @soizicpenicaud

.github/CODEOWNERS:

# Read about this file:
# https://help.github.com/en/articles/about-code-owners

# Technical files
.vuepress/ @abulte
.circleci/ @AntoineAugusti

# Guides
algorithmes/ @schignard @soizicpenicaud
data.gouv.fr/ @mathildehg @etalab/core
juridique/ @mathildehg @AntoineAugusti
qualite/ @mathildehg @AntoineAugusti
logiciels/ @bzg
producteurs-schemas/ @etalab/schema-data-gouv-fr
pseudonymisation/ @psorianom @KimMontalibet @jdenes @pedevineau
anonymisation/ @pedevineau
